name: Build and Deploy Sphinx Docs

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, gpu]
    env:
      ACTIONS_RUNNER_DEBUG: 'true'
      ACTIONS_STEP_DEBUG: 'true'
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Sphinx Documentation
        run: |
          cd diary
          make html

      # Deploy step is no longer necessary as the build occurs on your server
      # You can move or copy the built files as needed
      - name: Deploy Documentation
        run: |
          cp -r build/html/* /home/wenhao/tmp/gsmap_docs

